# Dependencies
node_modules/
functions/node_modules/
dist/
dist-ssr/

# Firebase Cache & Logs
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Emulator data export
emulator-data/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.local
